{%- for type_ in input_types %}


@dataclass
class {{type_}}(InputType):
    {{ '__graphql_map__ = {' }}{%  for field in type_.fields %}
        '{{ underscore(field) }}': '{{ field }}'{% if not loop.last %}{{ ', ' }}{% endif %}
    {%- endfor %}
    {{ '}' }}

    {% for field_name, field in type_.fields.items() -%}
        {{ underscore(field_name) }}: {{ get_type(field.type, enquote=True) }}
        {%- if get_type(field.type, strip_class=False).startswith('Optional') %}{{ ' = EMPTY' }}{% endif %}
    {% endfor %}
    def to_graphql(self, schema: DSLSchema):
        values = {self.__graphql_map__[k]: getattr(self, k) for k in self.__graphql_map__ if getattr(self, k) != EMPTY}
        for k in values:
            if isinstance(values[k], InputType):
                values[k] = values[k].to_graphql(schema)
        return values

{%- endfor %}