{%- set union_type_names = union_types | map(attribute='name') | list %}
{%- for field in fields %}
{%- set is_union = get_type(field.type, strip_class=True) in union_type_names %}
{%- set union_type = [None] %}
{%- if is_union -%}
    {%- for union_type_ in union_types %}
        {%- if union_type_.name == get_type(field.type, strip_class=True) %}
            {%- set _ = union_type.append(union_type_) %}
        {%- endif %}
    {%- endfor -%}
{%- endif -%}
class {{ camelize(field.name) }}RootSelection:
    def __init__(self, client: 'Client', schema: DSLSchema, query: Any, **kwargs) -> None:
        {{ 'graphql_kwargs = {'}}{{ camelize(field.name) + constants.field.__str__() }}{{'.__graphql_map__'}}[k]: (v if not isinstance(v, InputType) else v.to_graphql(schema))
            for k, v in kwargs.items() if v != EMPTY}
        self.query = query
        if graphql_kwargs:
            self.query = self.query(**graphql_kwargs)
        self.schema = schema
        self.client = client

    {% set type_name = get_type(field.type, strip_class=True) -%}
    def select(self, *fields: {{ get_type(field.type, strip_class=True, suffix='.Field') }}) -> Executable:
        graphql_fields = [{{ type_name }}{{'.__graphql_map__'}}[f] for f in fields if isinstance(f, str)]
        nested_selects = [f.finish_select(getattr(self.schema.{{ type_name }}, f.calling_field), self.schema) for f in fields if not isinstance(f, str)] # type: ignore
        self.query = self.query.select(*[getattr(self.schema.{{ type_name }}, f) for f in graphql_fields],
                                       *nested_selects)
        return Executable(self)
{% if is_union -%}
    {% set return_type = 'Union[' + (union_type[-1].types | map(attribute='name') | join(', ')) + ']' %}
{%- else -%}
    {% set return_type = camelize(field.name) + constants.root_selection.__str__() %}
{%- endif %}

class {{ camelize(field.name) }}Field(QueryableField):
    {{ '__graphql_map__ = {' }}{%  for arg in field.args %}
        '{{ underscore(arg) }}': '{{ arg }}'{% if not loop.last %}{{ ', ' }}{% endif %}
    {%- endfor %}
    {{ '}' }}

    def __call__({{ 'self, *args, ' }}{%- for name, arg in field.args.items() -%}
        {{ underscore(name) }}{{ ': ' }}{{ get_type(arg.type) }}
    {%- if 'Optional' in get_type(arg.type) %}{{ ' = EMPTY' }}{% endif -%}
    {%- if not loop.last %}{{ ', ' }}{% endif %}
{%- endfor -%}) -> {{ return_type }}:
        return super().__call__(*args, return_type={{ return_type }}, {% for name in field.args -%}
    {{ underscore(name) }}={{ underscore(name) }}{% if not loop.last %}{{ ', ' }}{% endif %}
{%- endfor %})


{% endfor %}